{% extends 'main.html' %}
{% block title %} Edit Discussion {% endblock %}
{% block content %}


<div class="discussion-form-container">

<div class="form-container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-title-container input-container">
            <div class="input-Topic">
                <label>Topic</label>
                <div class="error-Topic effect_text_top animation-1s"><small>You must enter three or more characters</small></div>
                    <input maxlength="20" id="id_topic" type="text" autocomplete="off" value="{{ discussion.topic.name }}" name="topic" list="topic-list">
                <div class="Topics_Results_continar">
                    <ul id="Topics-Search-Results">
                      
                    </ul>
                  </div>
        </div>
        
        <div class="input-Discussion-title">
            <label>Title</label>
            <div class="error-Title effect_text_top animation-1s"><small>You must enter 10 or more characters</small></div>
            {{ form.title }}
            </div>
        </div>

        <label class="label-Discussion-Content">Content</label>
        <div class="error-editor effect_text_top animation-1s"><small>You must enter 50 or more characters</small></div>
        
            <div class="editor markdown-textarea">
                    <div class="line-numbers">
                        <div></div>
                    </div>
                    {{ form.content }}
                </div>
        <br>
        <div class="Submit-Discussion">
            <div class="flex">
                <div>
                    <a class="btn btn-danger" href="{{request.META.HTTP_REFERER}}">Back</a>
                </div>

                <div class="margin-auto">
                    <input id="Btn_Submit_Discussion" class="btn btn-primary" type="Submit" value="Submit" \>
                </div>

            </div>
        </div>
    </form>
    </div>
</div>


<div>
    
</div>

<script>
    const id_topic = document.getElementById('id_topic');
    const id_title = document.getElementById('id_title');
    const id_content = document.getElementById('id_content');
    const Btn_Submit_Discussion = document.getElementById('Btn_Submit_Discussion');
    const text_editor = document.querySelector('.editor');
    let error_Topic = document.querySelector('.error-Topic');
    let error_Title = document.querySelector('.error-Title');
    let error_editor = document.querySelector('.error-editor');
    

    document.addEventListener('click', function(event) {
    const element_event = event.target;
    if (element_event.id === 'Btn-Create-Discussions'){
      Open_Create = true;
      id_topic.focus();
    }
    if (element_event.id === 'Close-Submit'){
      Open_Create = false;
    }

  });
  document.addEventListener('keydown', function(event) {
  if (event.ctrlKey && event.key.toLowerCase() === 's') {
    event.preventDefault();
      Btn_Submit_Discussion.click();
  }
});



id_topic.addEventListener('blur', function(event) {
  if (id_topic.value.length  <= 2 || id_topic.value.length  >= 21){
    id_topic.style.border = "1px var(--Error_color) solid";
    error_Topic.style.display = "block";
  }});
  
  id_title.addEventListener('blur', function(event) {
    if (id_title.value.length < 10){
      id_title.style.border = "1px var(--Error_color) solid";
      error_Title.style.display = "block";
    }
  });
  id_content.addEventListener('blur', function(event) {
    if (id_content.value.length < 50){
      text_editor.style.border = "1px var(--Error_color) solid";    
      error_editor.style.display = "block";
    }
  });
  
    function check_Data_discussion(){
    if ( id_topic.value.length > 2 && id_title.value.length > 10 && id_content.value.length > 50 ){
      Btn_Submit_Discussion.removeAttribute('disabled');
    }
    if (id_content.value.length < 50 ||  id_content.value.length > 20000 || id_title.value.length < 10  || id_title.value.length > 100|| id_topic.value.length  < 2 || id_topic.value.length  > 20 ){
      Btn_Submit_Discussion.setAttribute('disabled','');
    }

    if (id_topic.value.length > 2){ 
      id_topic.style.border = "1px var(--hr_color) solid";
      error_Topic.classList.remove("effect_text_top");
      error_Topic.classList.add("effect_hide_text_top");
      setTimeout(()=> {
        error_Topic.style.display = 'none';
        error_Topic.classList.remove("effect_hide_text_top");
        error_Topic.classList.add("effect_text_top");
      },900)
    }
    if (id_title.value.length > 10){
      id_title.style.border = "1px var(--hr_color) solid";
      error_Title.classList.remove("effect_text_top");
      error_Title.classList.add("effect_hide_text_top");
      setTimeout(()=> {
        error_Title.style.display = 'none';
        error_Title.classList.remove("effect_hide_text_top");
        error_Title.classList.add("effect_text_top");
      },900)
    }
    if (id_content.value.length > 50){ 
      text_editor.style.border = "1px var(--hr_color) solid";
      error_editor.classList.remove("effect_text_top");
      error_editor.classList.add("effect_hide_text_top");
      setTimeout(()=> {
        error_editor.style.display = 'none';
        error_editor.classList.remove("effect_hide_text_top");
        error_editor.classList.add("effect_text_top");
      },900)
    }
    };

    document.addEventListener('click', function(event) {check_Data_discussion();});
    document.addEventListener('input', function(event) {check_Data_discussion();});

    
</script>


<script>
document.addEventListener('DOMContentLoaded', event => {
    const textarea = document.querySelector('textarea')
    const lineNumbers = document.querySelector('.line-numbers')
    const numberOfLines = textarea.value.split('\n').length
    
    lineNumbers.innerHTML = Array(numberOfLines)
        .fill('<div></div>')
        .join('')

    textarea.addEventListener('keyup', event => {
        const numberOfLines = event.target.value.split('\n').length
        lineNumbers.innerHTML = Array(numberOfLines)
        .fill('<div></div>')
        .join('')
    })

    textarea.addEventListener('keydown', event => {
          if (event.key === 'Tab') {
            event.preventDefault();
            const start = textarea.selectionStart;
            const end = textarea.selectionEnd;
            const oldValue = textarea.value;
            textarea.value = oldValue.substring(0, start) + '\t' + oldValue.substring(end);
            textarea.setSelectionRange(start + 1, start + 1);
          }
      });
})
</script>


<script>
    const Input_Topics = document.querySelector('#id_topic');
    const TopicList = document.querySelector('#Topics-Search-Results');
  
  Input_Topics.addEventListener('input', function(event) {
        let HTML = '';
        TopicList.style.display="none";
        if(Input_Topics.value){
          $.ajax({
              url:"{% url 'topic_list' %}",
              data:{'input':Input_Topics.value},
              success:function(data){
                for(Data_topic of data.topics ){
                  HTML += `<li ><div class="Data_topic">${Data_topic.name}</div></li>`
                }
                TopicList.innerHTML = HTML;
                TopicList.style.display="block";
              }
              
            });
          }
      });
    Input_Topics.addEventListener("focus", function() { 
          TopicList.style.display="block";
      });
    Input_Topics.addEventListener("blur", function() {
          setTimeout(function() {
      TopicList.style.display="none";
  }, 200); 
  });
  
  $(document).on("click", ".Data_topic", function(){
    var selectedTopic = $(this).text(); 
    $("#id_topic").val(selectedTopic);
  });
  
  </script>

{% endblock content %}